services:
  database:
    image: postgres:17
    container_name: database
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./create-database.sql:/docker-entrypoint-initdb.d/create-database.sql

  server:
    build: ./server
    container_name: server
    restart: unless-stopped
    ports:
      - "3001:3001"
    env_file:
      - ./server/.env
    depends_on:
      - database

  ai:
    build: ./ai
    container_name: ai
    restart: unless-stopped
    ports:
      - "8000:8000"
    env_file:
      - ./ai/.env
    depends_on:
      - database
      - server

  client:
    build: ./client
    container_name: client
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - ./client/.env
    depends_on:
      - database
      - server
      - ai

volumes:
  postgres_data:
